<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Colin McIntyre Professional Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.typekit.net/emv3zbo.css" rel="stylesheet" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/adobe-caslon-pro" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap" rel="stylesheet">      
    <link rel="stylesheet" href="../docs/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> -->
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="../docs/index.html">Home</a>
                    </li>
                    
                    <li class="nav-item active">
                    <a class="nav-link" href="../docs/resume.html">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../docs/projects.html">Projects</a>
                    </li>            
                </ul>        
            </div>
        </div>
      </nav>